<!-- header -->
<div class="wrapper">
    <div class="page-header clear-filter">
        <div class="page-header-image rellax-header" data-rellax-speed="-7" style="background-image: url('assets/img/header.png');">
        </div>

        <div class="container">
            <div class="content-center brand">
                <h1 class="h1-seo"> Louis Urbani</h1>
                <h3>Web development - Photo - Video - Apps</h3>
            </div>
            <!--footer <h6 class="category category-absolute"></h6> -->
        </div>
    </div>
    <!-- end of header -->



    <div class="main">

        <!-- Portfolio -->
        <div class="section" id="portfolio">
            <div class="container">
                <div class="card-columns">
                    <div class="card">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn btn-info">Code</a>
                            <a href="#" class="btn btn-success float-right">Preview</a>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn btn-info">Code</a>
                            <a href="#" class="btn btn-success float-right">Preview</a>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn btn-info">Code</a>
                            <a href="#" class="btn btn-success float-right">Preview</a>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn btn-info">Code</a>
                            <a href="#" class="btn btn-success float-right">Preview</a>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn btn-info">Code</a>
                            <a href="#" class="btn btn-success float-right">Preview</a>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn btn-info">Code</a>
                            <a href="#" class="btn btn-success float-right">Preview</a>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <!-- Portfolio end -->



        <div class="section jarallax" style="background-image: url('assets/img/bg11.png'); background-size: cover; background-position: top center; min-height: 200px;">
        </div>

        <!-- About -->
        <div class="section" id="about" style="width: 100%; padding:10%">
            <div class="card mb-3">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="assets\img\me2020.png" class="card-img">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h1>About</h1>
                            <p>
                                Passioné par le code et le travail de l'image, je fusionne aujourd'hui mes compétences dans le Développement Web. Je travaille et me forme sur un stack Design - Front - Back :
                            </p>
                            <div class="d-flex flex-row bd-highlight mb-3 flex-wrap">
                                <div class="p-2 bd-highlight">TECHNOLOGIES:</div>
                                <div class="p-1 bd-highlight"> <span style='background-color: red;border: red;' class="badge badge-info">Angular</span></div>
                                <div class="p-1 bd-highlight"> <span style='background-color: purple;border: purple;' class="badge badge-info">Bootstrap</span></div>
                                <div class="p-1 bd-highlight"> <span style='background-color: rgb(57, 57, 214);border: blue;' class="badge badge-info">Photoshop</span></div>
                                <div class="p-1 bd-highlight"> <span style='background-color: orange;border: orange;' class="badge badge-info">HMTL/CSS natif</span></div>
                            </div>
                            <div class="d-flex flex-row bd-highlight mb-3 flex-wrap">
                                <div class="p-2 bd-highlight">TOOLS:</div>
                                <div class="p-1 bd-highlight"> <span class="badge badge-default">Git</span></div>
                                <div class="p-1 bd-highlight"> <span class="badge badge-default">Github</span></div>
                                <div class="p-1 bd-highlight"> <span class="badge badge-default">VSC</span></div>
                            </div>

                            <div class="card flex-row flex-wrap justify-content-sm-around" style="display :flex; max-width: 60%;  background-color: rgb(206, 243, 203);">
                                <a href="https://www.linkedin.com/in/louis-urbani/" target="_blank">
                                    <button type="button" class="btn btn-white" style="background-color: rgb(205, 218, 247)">
                                        <img width="30em" height="30em" src=".\assets\img\linkedin.png">
                                    </button>
                                </a>
                                <a href="https://github.com/U-Louis" target="_blank">
                                    <button type="button" class="btn btn-white" style="background-color: rgb(228, 228, 230)">
                                        <img width="30em" height="30em" src=".\assets\img\github.png">
                                    </button>
                                </a>
                                <a href="mailto:louis.urbani@yahoo.com">
                                    <button type="button" class="btn btn-white" style="background-color: rgb(94, 223, 82)">
                                                <svg width="2.5em" height="2.5em" viewBox="0 0 16 16" class="bi bi-envelope" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                                <path fill-rule="evenodd" d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/>
                                                </svg>
                                                 Mailto
                                    </button>
                                </a>
                                <button [cdkCopyToClipboard]="value" type="button" class="btn btn-white" style="background-color: rgb(82, 223, 129)">
                                            <svg width="2.5em" height="2.5em" viewBox="0 0 16 16" class="bi bi-envelope" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383l-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/>
                                            </svg> Copier
                                    </button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About end -->
    </div>


    <footer class="footer" data-background-color="black">
        <div class="container">
            <div class="text-center">
                <p> <a href="">&copy; <strong>L.U.</strong> - {{data | date: 'yyyy'}} </a> <br>
                    <em class="text-muted"> Native template <a class="text-muted" href="https://www.creative-tim.com" target="_blank">here</a></em></p>
            </div>
        </div>
    </footer>
</div>