<!-- header -->
<div class="wrapper">
    <div class="page-header clear-filter">
        <div class="page-header-image rellax-header" data-rellax-speed="-7" style="background-image: url('assets/img/header.png');">
        </div>

        <div class="container">
            <div class="content-center brand">
                <h1 class="h1-seo"> Louis Urbani</h1>
                <h3>Web development - Photo - Video - Apps</h3>
            </div>
            <!--footer <h6 class="category category-absolute"></h6> -->
        </div>
    </div>
    <!-- end of header -->



    <div class="main">

        <!-- Portfolio -->
        <div class="section" id="portfolio">
            <div class="container">
                <div class="card-columns">
                    <div class="card">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn btn-info">Code</a>
                            <a href="#" class="btn btn-success float-right">Preview</a>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn btn-info">Code</a>
                            <a href="#" class="btn btn-success float-right">Preview</a>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn btn-info">Code</a>
                            <a href="#" class="btn btn-success float-right">Preview</a>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn btn-info">Code</a>
                            <a href="#" class="btn btn-success float-right">Preview</a>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn btn-info">Code</a>
                            <a href="#" class="btn btn-success float-right">Preview</a>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top" src="..." alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn btn-info">Code</a>
                            <a href="#" class="btn btn-success float-right">Preview</a>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <!-- Portfolio end -->



        <div class="section jarallax" style="background-image: url('assets/img/bg11.png'); background-size: cover; background-position: top center; min-height: 200px;">
        </div>

        <!-- About -->
        <div class="section" id="about" style="width: 100%; padding:10%">
            <div class="card mb-3" style="max-width: max-content;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="assets\img\me2020.png" class="card-img">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h1>About</h1>
                            <p>
                                Passioné par le code et le travail de l'image, je fusionne aujourd'hui mes compétences dans le Développement Web. Je travaille et me forme sur un stack Design - Front - Back :
                            </p>


                            <div class="d-flex flex-row bd-highlight mb-3 flex-wrap">
                                <div class="p-2 bd-highlight">TECHNOLOGIES:</div>

                                <div class="p-1 bd-highlight"> <span style='background-color: red;border: red;' class="badge badge-info">Angular</span></div>
                                <div class="p-1 bd-highlight"> <span style='background-color: purple;border: purple;' class="badge badge-info">Bootstrap</span></div>
                                <div class="p-1 bd-highlight"> <span style='background-color: rgb(57, 57, 214);border: blue;' class="badge badge-info">Photoshop</span></div>
                                <div class="p-1 bd-highlight"> <span style='background-color: orange;border: orange;' class="badge badge-info">HMTL/CSS natif</span></div>


                            </div>
                            <div class="d-flex flex-row bd-highlight mb-3 flex-wrap">
                                <div class="p-2 bd-highlight">TOOLS:</div>

                                <div class="p-1 bd-highlight"> <span class="badge badge-default">Git</span></div>
                                <div class="p-1 bd-highlight"> <span class="badge badge-default">Github</span></div>
                                <div class="p-1 bd-highlight"> <span class="badge badge-default">VSC</span></div>

                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About end -->
    </div>


    <footer class="footer" data-background-color="black">
        <div class="container">
            <div class="text-center">
                <p> <a href="">&copy; <strong>L.U.</strong> - {{data | date: 'yyyy'}} </a> <br>
                    <em class="text-muted"> Native template <a class="text-muted" href="https://www.creative-tim.com" target="_blank">here</a></em></p>
            </div>
        </div>
    </footer>
</div>